:root {
	--c-darkpurple: #392269;
	--c-darkpurple2: #53388E;
	--c-purple: #593493;
	--c-highlight: #7F5FB0;

	--c-brightorange: #FF7F00;
	--c-darkerorange: #F07000;

	--c-lightpurple: #DFD7FF;
	--c-lightpurple-transp: #DFD7FF30;
}

body {
	padding: 88px 0px;
	margin: 0;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	float: right;

	height: 77px;

	background-color: var(--c-darkpurple);
	border-bottom: 1px solid var(--c-highlight);

	top: 0;
	right: 0;
	left: 0;

	padding-left: 32px;
	padding-right: 32px;
}

#logo-link {
	width: 109px;
}

#logo {
	vertical-align: middle;
}

nav {
	padding: 1.5rem 2rem;
	color: #fff;
}

#hamburger {
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
}

#bars {
	transition: transform 175ms;
	transform: rotate(0deg);
}

#nav-mobile {
	transition: opacity 150ms, transform 250ms;

	display: block;
	position: fixed;

	top: 78px;
	right: 0;

	width: 320px;

	background-color: var(--c-lightpurple-transp);
	border-bottom-left-radius: 16px;

	z-index: 1;
}

#nav-mobile a {
	display: block;

	padding: 32px 48px;

	font-family: "Sora", sans-serif;
	font-size: 20px;
	font-weight: 700;

	text-decoration: none;

	background-color: var(--c-lightpurple-transp);
	color: var(--c-darkpurple2);

	border-bottom: 2px solid var(--c-lightpurple);
}

#nav-mobile a:last-child {
	border-bottom-left-radius: 16px;
}

#nav-mobile a:hover {
	background-color: var(--c-lightpurple);
	color: var(--c-darkpurple);
}

#check {
	display: none;
}

#check:checked ~ #hamburger #bars {
	transform: rotate(-90deg);
}

#check:not(:checked) ~ #hamburger #bars {
	transform: rotate(0deg);
}

#check:checked ~ #nav-mobile {
	transform: translateX(0);
	opacity: 1;
}

#check:not(:checked) ~ #nav-mobile {
	transform: translateX(320px);
	opacity: 0;
}

/* TEMP
.info-btn {
	display: flex;
    justify-content: center;
    align-items: center;

	border: none;
	border-radius: 32px;

	width: 256px;
	height: 48px;

	font-family: "Sora", sans-serif;
	font-size: 18px;
	font-weight: 700;

	color: white;
	background-color: var(--c-brightorange);

	text-decoration: none;
	text-align: center;

	margin-left: 32px;

	cursor: pointer;
}

.info-btn:hover {
	background-color: var(--c-darkerorange)
}
*/
