:root {
	--c-darkpurple: #392269;
	--c-darkpurple2: #53388E;
	--c-purple: #593493;
	--c-highlight: #7F5FB0;

	--c-brightorange: #FF7F00;
	--c-darkerorange: #F07000;
	--c-darkestorange: #E06000;

	--c-lightpurple: #DFD7FF;
	--c-lightpurple-transp: #EFE7FF;
	--c-lightpurple-barely: #DFD7FF80;

	--c-grey: #292D3E;

	--c-lightgrey: #7B7698;
	--c-lightgrey-transp: #7B769850;
}

body {
	min-height: 100vh;

	padding: 88px 0px 0px 0px;
	margin: 0;
}

header {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	float: right;

	height: 77px;

	background-color: var(--c-darkpurple);
	border-bottom: 1px solid var(--c-highlight);

	top: 0;
	right: 0;
	left: 0;

	padding-left: 32px;
	padding-right: 32px;

	width: calc(100vw - 64px);
}

.logo {
	vertical-align: middle;
}

nav {
	color: #fff;
}

#hamburger {
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
}

#bars {
	transition: transform 175ms;
	transform: rotate(0deg);
}

#nav-mobile {
	transition: opacity 150ms, transform 250ms;

	display: block;
	position: fixed;

	top: 78px;
	right: 0;

	width: 320px;

	background-color: var(--c-lightpurple-transp);

	border-left: 2px solid var(--c-highlight);
	border-bottom: 2px solid var(--c-highlight);
	border-bottom-left-radius: 16px;

	z-index: 1;
}

#nav-mobile a {
	display: block;

	padding: 32px;

	font-family: "Sora", sans-serif;
	font-size: 20px;
	font-weight: 700;

	text-decoration: none;

	background-color: var(--c-lightpurple-transp);
	color: var(--c-darkpurple2);

	border-bottom: 2px solid var(--c-lightpurple);
}

#nav-mobile a:last-child {
	border-bottom-left-radius: 16px;
}

#nav-mobile a:hover {
	background-color: var(--c-lightpurple);
}

#check {
	display: none;
}

#check:checked ~ #hamburger #bars {
	transform: rotate(-90deg);
}

#check:not(:checked) ~ #hamburger #bars {
	transform: rotate(0deg);
}

#check:checked ~ #nav-mobile {
	transform: translateX(0);
	opacity: 1;
}

#check:not(:checked) ~ #nav-mobile {
	transform: translateX(320px);
	opacity: 0;
}

footer {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: var(--c-darkpurple);

	width: calc(100vw - 128px);
	min-height: 320px;

	gap: 16px;

	padding-left: 64px;
	padding-right: 64px;

}

footer p {
	font-family: "Sora", sans-serif;
	font-size: 10pt;
	color: white;

	margin-top: 0px;
}

footer p a {
	color: white;
}

#logo-tel {
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	width: 100%;

	margin: 0px 192px;
}

#links {
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: 32px;
}

#links a {
	font-family: "Sora", sans-serif;
	font-size: 18pt;
	font-weight: 700;
	color: white;
	
	text-decoration: none;
}

#links i {
	color: var(--c-darkerorange);
}

#link-whats i {
	color: #25D366;
}

#socials {
	display: flex;
	align-items: center;

	gap: 8px;
}

#socials div {
	background-color: var(--c-darkerorange);
	border-radius: 32px;

	text-align: center;
	
	width: 56px;
	height: 56px;
}

#socials div:hover {
	background-color: var(--c-darkestorange);
	cursor: pointer;
}

#socials i {
	color: white;
	font-size: 24pt;

	line-height: 56px;
	height: 56px;

	vertical-align: center;
}

hr {
	display: block;
	
	border: 0;
	clear: both;

	width: 95%;
	height: 1px;
	
	background-color: var(--c-lightgrey);
}

@media screen and (max-width: 1280px) {
	footer {
		width: calc(100vw - 32px);

		padding-left: 16px;
		padding-right: 16px;
	}

	#logo-tel {
		margin: 0px 32px;
		gap: 16px;
		flex-direction: column;
	}

	#links a {
		font-size: 10pt;
	}
}

/* TEMP
.info-btn {
	display: flex;
    justify-content: center;
    align-items: center;

	border: none;
	border-radius: 32px;

	width: 256px;
	height: 48px;

	font-family: "Sora", sans-serif;
	font-size: 18px;
	font-weight: 700;

	color: white;
	background-color: var(--c-brightorange);

	text-decoration: none;
	text-align: center;

	margin-left: 32px;

	cursor: pointer;
}

.info-btn:hover {
	background-color: var(--c-darkerorange)
}
*/
